<ion-view view-title="{{title}}">
  <!-- do you want padding? -->
  <ion-content >
    <!-- where login on -->
	<div ng-show="vm.currentUser.isAuthorized">
   		<div class="button-bar" ng-show="vm.currentUser.isAuthorized">
			<button class="button button-block button-assertive ion-power" ng-click="vm.signout()" type="button" ng-show="vm.currentUser.isAuthorized">
			</button>
		</div>
		<div class="list">
		<a class="item item-thumbnail-left" href="#">
	      <img ng-src="auth-social-backand/assets/images/yo@2x.png">
	      <h2>{{vm.currentUser.firstName}} {{vm.currentUser.lastName}}
	      <br>
	      {{vm.currentUser.username}}
		  </h2> 
	    </a>
	    <a class="item item-thumbnail-left button-block" href="#"
		      ng-click="vm.showUpdate = !vm.showUpdate" ng-class="{'button button-stable': !vm.showUpdate, 'button button-positive': vm.showUpdate}" >
			   <i class="icon ion-person"></i>
		  </a>
		</div>
	</div>
	<!-- login on - update data -->
	<div class="list" ng-show="vm.currentUser.isAuthorized && vm.showUpdate">
        <div class="button-bar" >
			<button class="button button-block button-positive ion-gear-a" ng-click="vm.updatePwd = !vm.updatePwd;" ng-class="{'button button-block button-stable': vm.updatePwd, 'button button-block button-positive': !vm.updatePwd}">
			</button>
			<button class="button button-block button-stable ion-ios-locked" ng-click="vm.updatePwd = !vm.updatePwd;" ng-class="{'button button-block button-stable': !vm.updatePwd, 'button button-block button-positive': vm.updatePwd}">
			</button>
		</div>
		<div class="list" ng-hide="vm.updatePwd">
			<label class="item item-input">
				First Name:&nbsp;<input id="firstName" name="firstName" type="text" placeholder="First Name" ng-model="vm.currentUser.firstName" >
			</label>
			<label class="item item-input">
				Last Name:&nbsp;<input id="lastName" name="lastName" type="text" placeholder="Last Name" ng-model="vm.currentUser.lastName" >
			</label>
		</div>
		<div class="list" ng-show="vm.updatePwd">
			<label class="item item-input">
				Current Pwd:&nbsp;<input id="password" name="passwordCurrent" type="password" placeholder="Password Current" ng-model="vm.currentUser.passwordCurrent">
			</label>
			<label class="item item-input">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Pwd:&nbsp;<input id="password" name="passwordNew" type="password" placeholder="Password New" ng-model="vm.currentUser.passwordNew">
			</label>
		</div>
		<div class="button-bar" >
			<button class="button button-block button-positive" ng-click="vm.updateAccount()">
				Save Data Base
			</button>
		</div>
	</div>
  </ion-content>
</ion-view>
