<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-positive">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->

	  <ion-nav-buttons side="right" >
	    <button class="button button-icon button-clear ion-power" ng-click="ctrl.signOut()" ng-show="ctrl.currentUser.isAuthorized">
		</button>
	  </ion-nav-buttons>

    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>



</ion-side-menus>
