<ion-view view-title="Register">
  <!-- do you want padding? -->
  <ion-content >
    <div class="row row-top">
	  <div class="col col-top"></div>
	  <div class="col col-center"><h3>Register</h3></div>
	  <div class="col col-bottom"></div>
	</div>
	<div class="row row-center">
	  <div class="col col-center">
			<form ng-submit="vm.signUp()" >
				<div class="list">
					<div class="row">
						<div class="col">
							<label class="item item-input">
								<input id="email" name="email" type="email" placeholder="E-mail"
									   ng-model="vm.email">
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label class="item item-input">
								<input id="firstname" name="firstname" type="text" placeholder="First name"
									   ng-model="vm.firstName">
							</label>
						</div>
						<div class="col">
							<label class="item item-input">
								<input id="username" name="lastname" type="text" placeholder="Last name"
									   ng-model="vm.lastName">
							</label>
		
						</div>
					</div>
					<div class="row">
						<div class="col">
		
							<label class="item item-input">
								<input id="password" name="password" type="password" placeholder="Enter password"
									   ng-model="vm.password">
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label class="item item-input">
								<input id="again" name="again" type="password" placeholder="Confirm password"
									   ng-model="vm.again">
							</label>
						</div>
					</div>
					<h4 style="color:red;" ng-bind="vm.errorMessage"></h4>
					<div class="row row-bottom">
						<div class="col col-center">
							<button class="button button-full button-calm" type="submit">
								Register
							</button>
						</div>
					</div>
				</div>
			</form>
	  </div>
	</div>
	
  </ion-content>
</ion-view>
