<ion-view view-title="Login">
  <!-- do you want padding? -->
  <ion-content class="padding">
	  <h2 class="title" style="text-align: center;">Account</h2>
    <div class="list">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">First Name</span>
	    <input type="text" placeholder="First Name">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Last Name</span>
	    <input type="text" placeholder="Last Name">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Email</span>
	    <input type="text" placeholder="Email">
	  </label>
	   <label class="item item-input item-floating-label">
	    <span class="input-label">Phone</span>
	    <input type="text" placeholder="Phone">
	  </label>
	  <button class="button button-block button-positive" ng-click="ctrl.createAccount()">
	    Create Account
	  </button>
	</div>

  </ion-content>
</ion-view>
