<ion-view view-title="{{title}}">
  <!-- do you want padding? -->
  <ion-content class="padding">
	  <!-- where login on -->
	<div ng-show="ctrl.currentUser.isAuthorized">
		<div class="list card">
		  <div class="item item-avatar">
		    <img ng-src="main/assets/images/profile.jpg">
		    <h2>{{ctrl.currentUser.firstName}} {{currentUser.lastName}}</h2>
		    <p>{{ctrl.currentUser.username}}</p>
		  </div>
		</div>

	</div>

<!-- login on - update data -->
	<div class="list" ng-show="ctrl.currentUser.isAuthorized && ctrl.showUpdate">
        <div class="button-bar" >
			<button class="button button-block button-positive ion-gear-a" ng-click="ctrl.updatePwd = !ctrl.updatePwd;" ng-class="{'button button-block button-stable': ctrl.updatePwd, 'button button-block button-positive': !ctrl.updatePwd}">
			</button>
			<button class="button button-block button-stable ion-ios-locked" ng-click="ctrl.updatePwd = !ctrl.updatePwd;" ng-class="{'button button-block button-stable': !ctrl.updatePwd, 'button button-block button-positive': ctrl.updatePwd}">
			</button>
		</div>
		<div class="list" ng-hide="ctrl.updatePwd">
			<label class="item item-input">
				First Name:&nbsp;<input id="firstName" name="firstName" type="text" placeholder="First Name" ng-model="ctrl.currentUser.firstName" >
			</label>
			<label class="item item-input">
				Last Name:&nbsp;<input id="lastName" name="lastName" type="text" placeholder="Last Name" ng-model="ctrl.currentUser.lastName" >
			</label>
		</div>
		<div class="list" ng-show="ctrl.updatePwd">
			<label class="item item-input">
				Current Pwd:&nbsp;<input id="password" name="passwordCurrent" type="password" placeholder="Password Current" ng-model="ctrl.currentUser.passwordCurrent">
			</label>
			<label class="item item-input">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Pwd:&nbsp;<input id="password" name="passwordNew" type="password" placeholder="Password New" ng-model="ctrl.currentUser.passwordNew">
			</label>
		</div>
		<div class="button-bar" >
			<button class="button button-block button-positive" ng-click="ctrl.updateAccount()">
				Update
			</button>
		</div>
	</div>
  </ion-content>
</ion-view>
