<ion-view view-title="{{title}}">
  <!-- do you want padding? -->
  <ion-content class="padding">
	  <!-- where login on -->
	<div ng-show="currentUser.isAuthorized">
		<div class="list card">
		  <div class="item item-avatar">
		    <img ng-src="main/assets/images/profile.jpg">
		    <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
		    <p>{{currentUser.username}}</p>
		  </div>
		</div>

	</div>

<!-- login on - update data -->
	<div class="list" ng-show="currentUser.isAuthorized && ctrl.showUpdate">
        <div class="button-bar" >
			<button class="button button-block button-positive ion-gear-a" ng-click="ctrl.updatePwd = !ctrl.updatePwd;" ng-class="{'button button-block button-stable': ctrl.updatePwd, 'button button-block button-positive': !ctrl.updatePwd}">
			</button>
			<button class="button button-block button-stable ion-ios-locked" ng-click="ctrl.updatePwd = !ctrl.updatePwd;" ng-class="{'button button-block button-stable': !ctrl.updatePwd, 'button button-block button-positive': ctrl.updatePwd}">
			</button>
		</div>
		<div class="list" ng-hide="ctrl.updatePwd">
			<label class="item item-input">
				First Name:&nbsp;<input id="firstName" name="firstName" type="text" placeholder="First Name" ng-model="currentUser.firstName" >
			</label>
			<label class="item item-input">
				Last Name:&nbsp;<input id="lastName" name="lastName" type="text" placeholder="Last Name" ng-model="currentUser.lastName" >
			</label>
		</div>
		<div class="list" ng-show="ctrl.updatePwd">
			<label class="item item-input">
				Current Pwd:&nbsp;<input id="password" name="passwordCurrent" type="password" placeholder="Password Current" ng-model="currentUser.passwordCurrent">
			</label>
			<label class="item item-input">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Pwd:&nbsp;<input id="password" name="passwordNew" type="password" placeholder="Password New" ng-model="currentUser.passwordNew">
			</label>
		</div>
		<div class="button-bar" >
			<button class="button button-block button-positive" ng-click="ctrl.updateAccount()">
				Update
			</button>
		</div>
	</div>

<!-- off line -->
	<!-- where login off -->
<form ng-submit="ctrl.signin()" ng-hide="currentUser.isAuthorized">
	<h3 style="text-align: center">Login dasdas</h3>
	<div class="row row-center">
	  <div class="col col-center">
			  <div class="list">
				<label class="item item-input">
					<input id="email" name="email" type="email" placeholder="E-mail" ng-model="ctrl.email">
				</label>
				<label class="item item-input">
					<input id="password" name="password" type="password" placeholder="Password" ng-model="ctrl.password">
				</label>
			  </div>	
	  </div>
	</div>
	
	<div class="row row-bottom">
	  <div class="col">
	  	<button class="button button-full button-positive" type="submit">
			Login
		</button>
		<a class="button button-full button-calm" ng-click="ctrl.signUpGo()">
			Register
		</a>
	  </div>
	</div>
</form>
	
<!-- where login off - social sign in -->
<div class="button-bar" ng-hide="currentUser.isAuthorized">
	<button class="button button-positive icon-left ion-social-facebook" ng-click="ctrl.signinSocial('facebook')" type="button">
		Facebook
	</button>
	<button class="button button-assertive icon-left ion-social-googleplus" ng-click="ctrl.signinSocial('google')" type="button">
		Google+
	</button>
</div>
  </ion-content>
</ion-view>
