<ion-view view-title="Ranking">
  <!-- do you want padding? -->
  <ion-content class="padding">
	<h3 style="text-align: center">Ranking</h3>
	<div class="list card">
	
	  <div class="item item-avatar">
	    <img ng-src="main/assets/images/profile.jpg">
	    <h2>Marty McFly</h2>
	    <p>November 05, 1955</p>
	    <span class="badge badge-assertive">1°</span>
	  </div>
	  <div class="item item-avatar">
	    <img ng-src="main/assets/images/profile.jpg">
	    <h2>Marty McFly</h2>
	    <p>November 05, 1955</p>
	    <span class="badge badge-assertive">2°</span>
	  </div>
	  <div class="item item-avatar">
	    <img ng-src="main/assets/images/profile.jpg">
	    <h2>Marty McFly</h2>
	    <p>November 05, 1955</p>
	    <span class="badge badge-assertive">3°</span>
	  </div>
	  <div class="item item-avatar">
	    <img ng-src="main/assets/images/profile.jpg">
	    <h2>Marty McFly</h2>
	    <p>November 05, 1955</p>
	    <span class="badge badge-assertive">4°</span>
	  </div>
	
	</div>

  </ion-content>
</ion-view>
