<ion-view view-title="Application Settings">
	<ion-content>
	  <div class="list">
		<label class="item item-input item-floating-label">
		  <span class="input-label"><strong>API Key<strong></span>
		  <input type="text" placeholder="API Key" ng-model="settings.apiKey">
		</label>
		<div class="item item-divider">
		  Items Per Page : {{settings.itemsPerPage}}
		</div>
		<div class="item range range-positive">
		  <i class="icon ion-ios7-sunny-outline">1</i>
		  <input type="range" name="volume" min="1" max="10" value="4" ng-model="settings.itemsPerPage">
		  <i class="icon ion-ios7-sunny">10</i>
		</div>
		<div class="item item-divider">
		  Minimum Average Score : {{settings.minimumScore}}
		</div>            
		<div class="item range range-positive">
		  <i class="icon ion-ios7-sunny-outline">1</i>
		  <input type="range" name="volume" min="1" max="10" value="4" ng-model="settings.minimumScore">
		  <i class="icon ion-ios7-sunny">10</i>
		</div>            
	  </div>
	</ion-content>
</ion-view>