<ion-view view-title="Upload">
  <!-- do you want padding? -->
  <ion-content class="padding" ng-init="ctrl.initCtrl()";>

    <!-- content goes here -->
  <h2>Backand Simple Upload File</h2>
  <br/>
  <h2>Você tem: {{ctrl.totalRows}} Arquivos</h2>
  <form role="form" name="uploadForm">
    <div class="row">
		<input id="fileInput" type="file" accept="*/*" ng-model="ctrl.filename" />
	</div>
	<div class="row" ng-repeat="image in ctrl.imagens">
		<img ng-src="{{image.dataURL}}" />
		<button class="button button-block button-positive" ng-click="ctrl.deleteFile(image)">
		Remove
		</button>
	</div>
      

  </form>

  </ion-content>
</ion-view>
